body {
  font-family: Arial, Helvetica, sans-serif;
}

form {
  border: none;
  align-content: center;
}

input[type=text], input[type=password] {
  width: 300px;
  padding: 10px 20px;
  margin: 8px 0;
  display: list-item;
  border: 1px solid rgb(198, 250, 177);
}

button {
  background-color: rgb(73, 206, 46);
  color: white;
  padding: 14px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 300px;
  display: list-item;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  width: 400px;
  height: 250px;
  margin: auto;
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.6);
}

img.avatar {
  width: 50%;
}

.lgncontainer {
  padding: 10px 30px;
  width: 400px;
  height: 500px;
  margin: auto;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  align-content: center;
}

span.psw {
  float: right;
  padding-top: 16px;
}

hr.border{
  border-top: 7px solid #bbb;
  opacity: 60%;
  border-radius: 5px;
}

header {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  height: 50px;
  padding: 10px;
  color: rgb(0, 0, 0);
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav links {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav link hover {
  color: #f1f1f1;
}

.vertical-menu {
  width: 200px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}